.month-page {
}

.month-container {
	margin-top: 20px;
}

.month-day {
	float: left;
	display: block;
	min-width: 75px;
	min-height: 100px;
	padding: 5px;
	border: solid 1px;
	cursor: pointer;
}
