.day-page {
}

.detail-fields {
	width: 300px;
	float: left;
	margin: 0px 20px;
}

.detail-menu {
	float: left;
	min-width: 700px;
}

.menu-iframe-container {
}

.menu-iframe {
	min-width: 700px;
	min-height: 500px
}

.menu-table  {
}
.menu-table td {
	padding: 5px;
}

.current.meal-item {
	background: blue;
	color: white;

}

.meal-item {
	cursor: pointer;
}

.meal-item-venue {
	min-width: 150px;
}

.meal-item-notification {
}

.meal-item-send {
}

.meal-item-close {
}

.meal-container {
}

.meal-item template {
}

.meal-item-venue {
}

.meal-item-notification {
}

.meal-item-send {
}

.meal-item-close {
}

.day-details {
	width: 100%;
	border-top: solid 1px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
}

.edit-venue {
}

.edit-notification {
}

.edit-send {
}

.edit-close {
}

.save-menu-button {
}

.drop-zone {
	text-align: center;
	width: 100%;
	padding: 20px;
	border: solid 1px;
	margin: 10px 5px;
}


